@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    min-width: 100%;
    min-height: 100vh;
}

body {
    background-image: url('/assets/ZigZag.webp');
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.card {
    position: relative;
    min-width: 325px;
    max-width: 350px;
    min-height: 550px;
    border-radius: 5px;
    background-color: white;
    padding: 30px 20px;
    margin: 0 auto;
    box-shadow: rgba(60, 123, 97, 1) 0px 40px 40px -20px;
    
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.card-img {
    width: fit-content;
    margin: 30px auto;
}

.card-text {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.card-text > h1 {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 15px;
    color: #2F463D;
}

.card-text > p {
    font-family: "Ubuntu";
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 20px;
    color: #828282;
}

.card-item {
    display: flex;
    background-color: rgba(240, 255, 245, 1);
    position: relative;
    margin-top: 30px;
}

.card-item-img {
    background: center / cover url("assets/Rectangle.webp");
    width: 54px;
    height: 66px;
    margin-right: 20px;
}

.card-item-text {
    align-self: center;    
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 20px;
}

.card-item-title {
    font-weight: 800;
    color: rgba(47, 70, 61, 1);
}

.card-item-price {
    font-weight: 500;
    color: rgba(122, 143, 133, 1);
}

.card-item-link {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 13px;
    line-height: 27px;
    color: rgba(70, 122, 102, 1);
}

.card-item-link:visited {
    color: rgba(70, 122, 102, 1);
}

.card-cta {
    padding: 20px;
    background-color: #E0E0E0;
    min-width: 280px;
    border-radius: 5px;
    margin: 30px auto;
    text-align: center;
    color: #fff;
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 15px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: .3s ease all;
}

.card-dots-container {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    justify-content: space-around;
    width: 15%;
}

.card-dots {
    width: 7px;
    height: 7px;
    background-color: #E0E0E0;
    border-radius: 50%;
}

.active {
    background-color: rgba(70, 166, 126, 1);
    cursor: pointer;
}

.active:hover {
    background-color: rgba(70, 166, 126, 0.8);
}

@media only screen and (max-width: 990px) {
    .hamburger, .delivery {
        display: none;
    }
}